{% extends "base.html" %}

{% block content %}
    <section class="blog-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-12">
          <div class="blog-posts">
            <div class="leave-comment-area">
              <h4 class="title"><b class="light-color">Add Item Details</b></h4>
              <div class="leave-comment">
                {% if current_user.role_name == "admin" %}
                <form action="/edit_items/{{item.id}}" method="POST" id="login-form">
                {% else %}
                <form action="/edit_approval_items/{{item.id}}" method="POST" id="login-form">
                {% endif %}
                  <div class="row">
                    <div class="col-sm-12">
                      Name: <input type="text" class="email-input" id="name" value="{{item.name}}" name="name" required>
                    </div>
                    <div class="col-sm-12">
                      Item ID: <input type="text" class="email-input" id="item_id" value="{{item.item_id}}" name="item_id" required>
                    </div>
                    <div class="col-sm-12">
                      Price: <input type="number" class="email-input" id="price" value="{{item.price}}" name="price" required>
                    </div>
                    <div class="col-sm-12">
                      Batch No.:<input type="number" class="email-input" id="batch" value="{{item.batch_no}}" name="batch" required>
                    </div>
                    <div class="col-sm-12">
                      Quantity<input type="number" class="email-input" id="quantity" value="{{item.quantity}}" name="quantity" required>
                    </div>
                    <div class="col-sm-12">
                      Vendor: <input type="text" class="email-input" id="vendor" value="{{item.vendor}}" name="vendor" required>
                    </div>
                    <div class="col-sm-12">
                      <button type="submit" id="login-btn" class="primary-btn">Edit</button>
                    </div>
                  </div>    
                </form>
              </div>
            </div>  
          </div>  
        </div>  
      </div>
    </div>
  </section>
{% endblock content %}
 
